$white: #fff;
$light-gray: #efefef;
$soft-gray: #ececec;
$gray: #cacaca;
$table-background: #6d6d6d;
$error-red: #ff0000;
$error-red-prehover: #ff7a7a;
$orange-btn: #ff9900;
$green-confirm: #009e1a;
$link-color: #0d6efd;
$link-color--hover: #003f9c;
$dark-gray: #222222;
$dark-input: #414141;
$dark: #212529;
$black: #000;
$soft-gray-color: #eaeaea;
$background: #f8f8f8;
$footer-background: #1b1c21;
$main-text-color: #1b1c21;
$menu-text-color: #7e7e82;
$border-color: #b8ffec;


$color--link--grey:#7e7e82;
$color--header--link: #1b1c21;
$color-body: #f8f8f8;
$color--block--green:#41f6d7;
$color-block--grey: #eaeaea;
$color--fuksi-btn: #FF3E79;
$color--block--white: #fff;
$color-label-text: #B5B6BC;
$color-pale-green: #D9FFF5;

// fonts
$ttlb: 'TTlakes-black';
$ttlr: 'TTlakes-reg';
$ttlm: 'TTlakes-medium';



